@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html
{
    box-sizing: border-box;

}

*, *::before, *::after
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    font-optical-sizing: auto;

}

a
{
    background: transparent;
    text-decoration: none;
    color: #1D1D1B;
}

.container
{
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}

.header-wr
{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.g-button-red
{
    border-radius: 3px;
    background-color: #E0001B;
    /* font-size: 16px; */
    /* font-weight: 500; */
    border: none;
}

.header__top
{
    background-color: #F8F8F8;
    height: auto;
    padding: 8px 0;
    margin-bottom: 6px;
}

.header__top-wr
{
    display: flex;
    align-items: center;
    gap: 99px;
}

.header__top-city-location
{
    display: flex;
    align-items: center;
    position: relative;
}

.header__top-city-selected
{
    margin-left: 8px;
    letter-spacing: 0;
}

.header__top-nav-items
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

}

.header__top-nav-item
{
    display: flex;
    gap: 9px;

}

.header__top-contacts
{
    margin-left: 245px;
}

.header__top-contacts-link
{
    color: #696969;
}

.header__middle-wr
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__middle-search
{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 412px;
}

.header__middle-search-form
{
    flex: 1;
}

.header-search__input
{
    display: flex;
}

.header-search__input-input
{
    border-radius: 3px;
    padding: 17px 0 17px 16px;
    background-color: transparent;
    border: none;
    outline: 1px solid #D4D4D4;
    outline-offset: -1px;
    letter-spacing: 0.05em;
    line-height: 100%;
    flex: 1 1 auto;
}

.header-search__input-input::placeholder
{
    color: black;
    font-size: 14px;
    line-height: 100%;
    opacity: 0.5;
}

.header__middle-search-btn
{
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: absolute;
    right: 0;
}

.header__middle-nav-btns
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__middle-nav-btn
{
    display: flex;
    align-items: center ;
    font-weight: 600;
    font-size: 14px;
    padding: 11px 16px 13px 16px;
}

.header__middle-nav-favorites
{
    gap: 15px;
}

.header__middle-nav-compare
{
    gap: 13px;
}

.header__middle-nav-cart
{
    gap: 14px;
}

.header__middle-nav-btn-status
{
    width: 17px;
    line-height: 17px;
    background-color: #E0001B;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 12px;
}

.header__middle-nav-btn:hover
{
    background-color: RGBA(29, 29, 27, 0.04);
    border-radius: 3px;
}



.header__bottom-wr
{
    display: flex;
    align-items: center;
}


.header__bottom-nav-btn--catalog
{
    display: flex;
    color: #ffffff;
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    gap: 16px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.header__bottom-nav
{
    display: flex;
    align-items: center;
    background-color: rgba(29, 29, 27, 0.02);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}

.header__bottom-nav-items
{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 16px; */
    /* padding-left: 24px; */
    /* gap: 32px; */
}

.header__bottom-nav-item
{
    font-size: 14px;
    position: relative;
    padding: 16px;


}

.header__bottom-nav-item-link
{
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__bottom-nav-item:first-child
{
    padding-left: 24px;
}

.header__bottom-nav-item:last-child a
{
    color: #E0001B;
}

.header__bottom-nav-item:last-child::before
{
    content: "";
    width: 1px;
    position: absolute;
    height: 32px;
    background-color: rgba(29, 29, 27, 0.04);
    left: -24px;
    top: -8px;
}

.header__bottom-nav-item:hover,
.header__bottom-nav-item:focus
{
    background-color: rgba(29, 29, 27, 0.04);
}