@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {box-sizing: border-box;}

*, *::before, *::after
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
}

a
{
    background: transparent;
    text-decoration: none;
    color: #1D1D1B;
}

.container
{
    max-width: 1120px;
    margin: 0 auto;
    width: 100%;
}

.g-button {border: none;}

.g-button--red
{
    border-radius: 3px;
    background-color: #E0001B;
}

.header-wr
{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.header__top
{
    background-color: #F8F8F8;
    height: auto;
    padding: 8px 0;
    margin-bottom: 6px;
}

.header__top-wr
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 99px;
    flex-wrap: wrap;
}

.header__top-city-location
{
    display: flex;
    align-items: center;
    position: relative;
}

.header__top-city-selector {cursor: pointer;}

.header__top-city-selected
{
    margin-left: 8px;
    letter-spacing: 0;
}

.header__top-nav
{
    display: flex;
    flex: 1;
}

.header__top-nav-items
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.header__top-nav-item-link
{
    display: flex;
    gap: 9px;
}

.header__top-contacts
{
    margin-right: 20px;
    white-space: nowrap;
}

.header__top-contacts-link {color: #696969;}

.header__middle-wr
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__middle-search
{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 412px;
}

.header__middle-search-form {flex: 1;}

.header-search__input {display: flex;}

.header-search__input-input
{
    border-radius: 3px;
    padding: 17px 0 17px 16px;
    background-color: transparent;
    border: none;
    outline: 1px solid #D4D4D4;
    outline-offset: -1px;
    letter-spacing: 0.05em;
    line-height: 100%;
    flex: 1 1 auto;
}

.header-search__input-input::placeholder
{
    color: black;
    font-size: 14px;
    line-height: 100%;
    opacity: 0.5;
}

.header__middle-search-btn
{
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: absolute;
    right: 0;
}

.header__middle-nav-btns
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header__middle-nav-btn
{
    display: flex;
    align-items: center ;
    font-weight: 600;
    font-size: 14px;
    padding: 11px 16px 13px 16px;
}

.header__middle-nav-btn:first-child {gap: 15px;}

.header__middle-nav-btn:not(:last-child):not(:first-child) {gap: 13px;}

.header__middle-nav-btn:last-child {gap: 14px;}

.header__middle-nav-btn-status
{
    width: 17px;
    line-height: 17px;
    background-color: #E0001B;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 12px;
}

.header__middle-nav-btn:hover,
.header__middle-nav-btn:focus
{
    background-color: RGBA(29, 29, 27, 0.04);
    border-radius: 3px;
}

.header__bottom-wr
{
    display: flex;
    align-items: center;
}

.header__bottom-catalog-btn
{
    display: flex;
    align-items: center;
    color: #ffffff;
    padding: 16px;
    padding-right: 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    gap: 16px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.header__bottom-nav
{
    display: flex;
    align-items: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: rgba(29, 29, 27, 0.04);
}

.header__bottom-nav-items
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__bottom-nav-item
{
    position: relative;
    cursor: pointer;
}

.header__bottom-nav-item-link
{
    font-size: 14px;
    line-height: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
}

.header__bottom-nav-item:last-child::before
{
    content: "";
    width: 1px;
    position: absolute;
    height: 32px;
    background-color: rgba(29, 29, 27, 0.04);
    left: 0;
    top: 8px;
}

.header__bottom-nav-item-link:hover,
.header__bottom-nav-item-link:focus
{
    background-color: rgba(29, 29, 27, 0.04);
}

.header__bottom-nav-paper-prod-link {
    padding-left: 24px;
    padding-right: 8px;
}

.header__bottom-nav-school-prod {padding-left: 24px;}

.header__bottom-nav-trade-prod {padding-right: 8px;}

.header__bottom-nav-sales-link {padding-left: 24px;}

.header__bottom-nav-sales-link {
    color: #E0001B;
    font-weight: 600;
}
