html
{
    box-sizing: border-box;
}

*, *::before, *::after
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* body
{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;

} */

a
{
    background: transparent;
    text-decoration: none;
    color: #1D1D1B;
}

.container
{
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}


.header__top
{
    background-color: #F8F8F8;
    height: auto;
    padding: 8px 0;
}

.header__top-wr
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top-city-location
{
    display: flex;
    align-items: center;
    position: relative;
}

.header__top-city-selected
{
    margin-left: 8px;
    letter-spacing: 0;
}


.header__top-nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top-nav-items
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__top-nav-item:not(:last-child)
{
    margin-right: 24px;
}

.header__top-communication
{
    justify-content: end;
}